extends layout2
block content
	br
	br
	br
	br
	br
	.container
		heading All Files
		br
		p You are browsing every file within the database 
		br
		br
	.container
		each file in files
			li
				a(href = "/viewFile?file=" + file)!{file}