extends layout2
extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar("Colenso Project","dropdown_menu","inverse")
    +nav_item("/") Home
    +nav_item_dropdown("#")(label="Database")
      +nav_item("/fileList", "active") View
      +nav_item("/searchByString") Search By String
      +nav_item("/searchByXQuery") Search By XQuery
  .container
    h1 Colenso Database
    .container
          each val in list
            li: a(href = "/viewFile?file=/" + val)
              !{val}