extends layout2
block content
	br
	br
	br
	br
	br
	.container
		heading Hector Files
		br
		p You are browsing letters tagged with the author Hector
		br
		br
		p There are #{numResults} results, these are listed below:
	.container
		each file in files
			li
				a(href = "/viewFile?file=" + file)!{file}