extends layout
doctype html
html(lang='en')

block Intro
	.container
		.row
			.col-lg-12
			heading #{title}.
			p
			br
			br
			intro The Colenso Society, Victoria University of Wellington and MTG Hawke's Bay are delighted to announce the establishment of the Colenso Project. This exciting new initiative seeks to build on the blossoming national and international interest in William Colenso's life and ideas as the result of the William Colenso Bicentenary Celebrations in Hawke's Bay in 2011, and a body of new publications and research. 
			br
			br
			intro This is a hub for all things Colenso: a place to read documents in the original, explore his writing through transcriptions, and as a place to experiment with new research and interpretation methods.
			br
			br
			br
			p
			smallBold Here you can browse, explore and work with a collection of these historical New Zealand Documents 
			br
			br
			br
			br
			br
			a.btn.btn-success.outline.page-scroll(href='#browse') Get Started
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
block Browse
	.container
		.row
			.col-lg-12
			h1 Browse
			smallBold Use the navigation bar in order to browse for the desired letter in order to view it in more detail
			br
			br
			br
			nav.navbar.navbar.navbar-inverse
				.container-fluid
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand Author
					#myNavbar.collapse.navbar-collapse
						ul.nav.navbar-nav
							li.dropdown
								a.dropdown-toggle(data-toggle='dropdown', href='#')
									| Colenso
									span.caret
								ul.dropdown-menu
									li
										a(href='/colensodiary') Diary
									li
										a(href='/colensonewspaper') Newspaper Letters
									li
										a(href='colensoprivate') Private Letters
							li
								a(href='/haast') Haast
							li.dropdown
								a.dropdown-toggle(data-toggle='dropdown', href='#')
									| Hadfield
									span.caret
								ul.dropdown-menu
									li
										a(href='/haddiary') Diary
									li
										a(href='/hadprivate') Private Letters
							li
								a(href='/hector') Hector
							li
								a(href='/holmes') Holmes
							li
								a(href='/hooker') Hooker
							li
								a(href='/mclean') Mclean
							li
								a(href='/others') Other
							li
								a(href="/All") All
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br


			
block Search
	.container
		.row
			.col-lg-12
			h1 Search
			.container
				smallBold You can search for a specific letter using either a String or XQuery here:
				br
				br
				br
				form(action = "/search", method = "get")
					input#string.form-control(type='text', placeholder='Enter a string', name = "searchString")
					br
					input(type="submit")
				br
				br
				br
				br
				br
				br
				form(action = "/searchxquery", method = "get")
					input#xquery.form-control(type='text', placeholder='Enter an XQuery', name = "searchXQuery")
					br
					input(type="submit")
			br
			br
			br
			br
			br
			br
			br

block Add
	.container
		.row
			.col-lg-12
			h1 Add
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br


