extends layout
doctype html
html(lang='en')

block Intro
	.container
		.row
			.col-lg-12
			heading The Colenso Project.
			p
			br
			br
			intro The Colenso Society, Victoria University of Wellington and MTG Hawke's Bay are delighted to announce the establishment of the Colenso Project. This exciting new initiative seeks to build on the blossoming national and international interest in William Colenso's life and ideas as the result of the William Colenso Bicentenary Celebrations in Hawke's Bay in 2011, and a body of new publications and research. 
			br
			br
			intro This is a hub for all things Colenso: a place to read documents in the original, explore his writing through transcriptions, and as a place to experiment with new research and interpretation methods.
			br
			br
			br
			p
			smallBold Here you can browse, explore and work with a collection of these historical New Zealand Documents 
			br
			br
			br
			br
			br
			a.btn.btn-success.outline.page-scroll(href='#browse') Get Started
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
block Browse
	.container
		.row
			.col-lg-12
			h1 Browse 
block Search
	.container
		.row
			.col-lg-12
			h1 Search
block Add
	.container
		.row
			.col-lg-12
			h1 Add

