extends layout2
block content
	br
	br
	br
	br
	br
	.container
		heading Search by String
		br
		p You searched for  
		strong #{searchString}
		br
		br
		p Your query had #{numResults} results, these are listed below:
		br
		form(action = "/search", method = "get")
					input#string.form-control(type='text', placeholder='Enter a string', name = "searchString" )
					br
					input(type="submit")
	.container
		each file in files
			li
				a(href = "/viewFile?file=" + file)!{file}
