extends layout2

block content
	.container
		br
		br
		br
		rightAligned 
		.btn-group(role='group', aria-label="...")
			a.btn-xl.outline(href='/download') Download
			a.btn-xl.outline(href='/viewRaw')          
			a.btn-xl.outline(href='javascript:history.back()') View Readable
		br
		br
		p| #{file}